<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Max AI</title>

    <!--style for the background -->
    <script defer src="static/particle.min.js"></script>

    <!--style sheet for the UI-->
    <link rel="stylesheet" href="static/max.css">

    <!--enables sight and face recognition-->
    <script defer src="static/see.js"></script>

    <!-- syntax highlighting on the output console-->
    <link rel="stylesheet" href="static/atelier-forest-dark.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <!-- displays the moving background -->
    <div id="particle-canvas"></div>

    <!-- main content -->
    <div class="content">
        <!-- video display -->
        <video class="panel" autoplay="true" id="video"></video>
        <!-- console -->
        <pre>
            <code>
console = {
    "foo": 123,
    "bar": [bar1, bar2, bar3],
}
            </code>
        </pre>
    </div>
</body>
</html>