<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Max AI</title>

    <!--style for the background -->
    <script defer src="static/particle.min.js"></script>

    <!--style sheet for the UI-->
    <link rel="stylesheet" href="static/max.css">

    <!--enables sight and face recognition-->
    <script defer src="static/see.js"></script>

</head>
<body>
    <!-- displays the moving background -->
    <div id="particle-canvas"></div>

    <!-- main content -->
    <div class="content">
        <!-- video display -->
        <video class="panel" autoplay="true" id="video"></video>
        <!-- console -->
        <div class="console panel">this is a test of the emergency broadcast system</div>
    </div>
</body>
</html>