<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Max AI</title>

    <!--enables sight and face recognition-->
    <script defer src="static/face-api.min.js"></script>
    <script defer src="static/see.js"></script>

    <!--enables speech-->
    <script defer src="static/speak.js"></script>

    <!--style sheet for the UI-->
    <link rel="stylesheet" href="static/max.css">
</head>
<body>
    <!--main content-->
    <div class="main-content">

        <!--output video-->
        <video id="video" width="720" height="560" autoplay muted></video>

        <!--output console-->
        <div class="console"></div>
    </div>
</body>
</html>